aiodns==2.0.0
aiohttp==3.6.2
aiohttp-socks==0.3.3
async-timeout==3.0.1
attrs==19.3.0
awscli==1.16.221
beautifulsoup4==4.8.2
botocore==1.12.211
cchardet==2.1.5
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
colorama==0.3.9
DateTime==4.3
elasticsearch==7.1.0
fake-useragent==0.1.11
geographiclib==1.50
geopy==1.20.0
googletransx==2.4.2
idna==2.8
mca==1.0.3
multidict==4.7.3
numpy==1.18.0
oauthlib==3.1.0
pandas==0.25.3
pyasn1==0.4.6
pycares==3.1.0
pycparser==2.19
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.3.0
rsa==3.4.2
s3transfer==0.2.1
schedule==0.6.0
six==1.13.0
soupsieve==1.9.5
tweepy==3.8.0
twint==2.1.11
urllib3==1.25.7
yarl==1.4.2
zope.interface==4.7.1
